<section>
    <header>
        <div class="container-fluid p-2 mt-3 ">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="logo">
                        <h2 [routerLink]="['/Home']" >CraftsGalaxy</h2>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="search">
                        <input type="text" placeholder="Seaerch item"  [ngStyle]="{'color':'black'}" [(ngModel)]="searchItem" (keyup.enter)="search(searchItem)">
                        <p class="search-icon" (click)="search(searchItem)"><i class="fa fa-search" ></i><p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <div class="icons ">
                        <a [routerLink]="['/AddItem']" class="cta-btn" *ngIf="userid == 1 "> Add </a>
                        <a href="" class="cart" [routerLink]="['/Mycart']"><i class="fa fa-shopping-cart"></i><span class="badge badge-secondary" [ngStyle]="{'color':'black'}">{{totalCartItem}}</span></a>
                        <a [routerLink]="['/SignUp']" class="cta-btn">Join</a>
                        <a [routerLink]="['/Login']" class="cta-btn" *ngIf="userid == null">Sign In</a>
                        <a  class="cta-btn" *ngIf="userid !== null" (click)="signOut()"> Sign Out </a>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="nav justify-content-center nav-bar">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" (click)="filterCategory('jewellery')">Jewellery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"(click)="filterCategory('homedecor')">Home&Living</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"(click)="filterCategory('gift')">Gift&GiftCards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"(click)="filterCategory('accessories')"> Clothing&Shoes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"(click)="filterCategory('party')"> Wedding&Party</a>
                  </li>
               
              </ul>
        </nav>
       
    </header>
</section>
