.logo h2{
    color: #ef4279;
    cursor: pointer;
}
.container-fluid{
    background-color:#fff;
}
.search input[type=text]{
    color:#fff;
    padding: 3px 20px;
    border-radius: 24px 0px 0px 24px;
    border: none;
    border:1px solid #f2a8c0;
}
.search .search-icon {
    background-color:#f2a8c0;
    padding: 4px 20px;
    border-radius: 0px 24px 24px 0px;   
    display: inline-block;
}
.search .search-icon i{
    font-size: 20px;
    color:black;
    margin:  auto;
}
.icons .cta-btn{
    /* background-color:#fff; */
    color:black;
    padding:3px 20px;
    /* border:1px solid #f2a8c0;;
    border-radius: 24px; */
    display: inline-block;
    margin-left: 20px;;
}
.icons i{
    font-size: 20px;
    color:black;
    transition: color ease 0.8s;
    /* margin-top: 10px; */
    /* margin-top:8px; */
 
 }
 .nav-bar{
    /* background-color:#f57fa4; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }
 .nav-bar li a{
    color:black;
    /* margin-left: 84px; */
 }
 .nav-bar li a:hover{
    cursor: pointer;
 }
/* hover effects */
.icons  a{
    transition: color ease 0.8s;
}
.icons a:hover{
    color: #f2a8c0;;
}
.icons i:hover{
    color: #f2a8c0;;
}

 /* mobile view */
 /* .icon2{
    
 }
@media (max-width:767px) {
    .icons .cta-btn,.icons i{
        display:none;
    }
} */