<section class="footer-section  mt-2 pb-3  text-white  ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-lg-4  pl-5">
          <h2 >CraftsGalaxy</h2>
          <p>Health+ Instituste of medical secience,<br> Near ABS Tower,<br> Newyork <br><span><i class="fa fa-ambulance"></i></span>(+91)456000674 <br><span><i class="fa fa-ambulance"></i></span>mail@ifo.com</p> 
        </div>
        <div class="col-lg-4 pt-5 pl-5">
          <p><a href="" class="text-white">Home</a></p>
          <p><a href="" class="text-white">about Us</a></p>
          <p><a href="" class="text-white">News</a></p>
          <p><a href="" class="text-white">Contact Us</a></p>
        </div>
        <div class="col-lg-4 pt-5 pl-5">
            <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="submit" class="btn btn-link btn-floating mx-1"  >
                  <i class="fab fa-github"></i>
                </button>
              </div>
        </div>
      </div>
    </div>
  </section>
