
.login-btn{
    background-color:black;
    color: white;
}
button i{
    color:black;
}
/* validation css */
input.ng-invalid.ng-touched{
    border:1px solid red
}
textarea.ng-invalid.ng-touched{
    border:1px solid red
}
small{
    color: red;
}