<!-- Section: Design Block -->
<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span style="color: #ef4279; ">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="signUpForm" >
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="fname" class="form-control" formControlName="firstName" />
                        <label class="form-label" for="form3Example1">First name</label>
                        <div>
                          <small *ngIf="firstName.errors?.['required'] && firstName.touched">First Name Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="lname" class="form-control" formControlName="lastName" />
                        <label class="form-label" for="form3Example2">Last name</label>
                        <div>
                          <small *ngIf="lastName.errors?.['required'] && lastName.touched">Last Name Required</small>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" formControlName="email" />
                    <label class="form-label" for="form3Example3">Email address</label>
                    <div>
                      <small *ngIf="email.errors?.['required'] && email.touched">Email-id Required</small>
                      <small *ngIf="email.errors?.['email'] ">Email is not valid</small>
                    </div>
                  </div>

                  <!-- Phone input -->

                  <div class="form-outline mb-4">
                    <input type="text" id="phone" class="form-control" formControlName="phone" />
                    <label class="form-label" for="form3Example4">Phone Number</label>
                    <div>
                      <small *ngIf="phone.errors?.['required'] && phone.touched">Phone Number Required</small>
                      <small *ngIf="phone.errors?.['pattern'] ">Phone Number is not valid</small>
                    </div>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="pswd" class="form-control" formControlName="pswd" />
                    <label class="form-label" for="form3Example4">Password</label>
                    <div>
                      <small *ngIf="pswd.errors?.['required'] && pswd.touched">Password Required</small>
                      <small *ngIf="pswd.errors?.['minLength'] ">Password must contain 5 charactors</small>
                    </div>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" class="btn  btn-block mb-4 signup-btn"(click)="signUp(signUpForm.value)" [disabled]="signUpForm.invalid"> 
                    Sign up
                  </button>
  
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>
  
                    <button type="submit" class="btn btn-link btn-floating mx-1"  >
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </section>
  <!-- Section: Design Block -->
