<div class="container-fluid">
    <div class="row products p-3">
        <ng-container *ngFor="let items of listProducts">
            <div class="col-md-3">
                <div class="card" [routerLink]="['/Detail',items.id]">
                    <img [src]="items.image" alt="" class="img-fluid" [alt]="items.title">
                    <p class="item-detail">{{items.title}}</p>
                    <p  [ngStyle]="{'margin-top':'-15px','font-size':'12px'}"> <span class="fa fa-star checked"></span>
                        <span *ngFor="let star of starList">
                            <i class="{{star}}"></i>
                          </span>
                    </p>
                    <p [ngStyle]="{'margin-top':'-15px'}"><strong>${{items.price}}</strong></p>
                </div> 
            </div>
        </ng-container> 
    </div>
    
</div>
